body{
  margin: 0;
  padding: 0;
}


input[type="file"]::file-selector-button {
  background-color: #206ccf;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button{
  padding: 20px;
  margin: 50px;
}